
<input type="hidden" name="totalPage" id="totalPage" value="$listlogs.getTotalPage()"/>
<input type="hidden" name="totalRecord" id="totalRecord" value="$listlogs.getTotalRecord()"/>
<input type="hidden" name="pageNuminit" id="pageNuminit" value="${pageNum}"/>
<div class="search-group">
    <label for="inlogTitle">标题</label>
    <input type="text" name="inlogTitle" id="inlogTitle"/>
    <input type="button" name="search" class="search-bt" value="搜搜搜"/>
</div>

<div class="tab-container">
    <div id="ajshow0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>日志ID</th>
            <th>主题</th>
##            <th>概要</th>
            <th>上传时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="abc">
                #foreach($logs in $listlogs.getDataList())
                <tr data-id="$!{logs.logId}" class="logId">
                    <td>$!{logs.logId}</td>
                    <td>$!{logs.logTitle}</td>
##                    <td>$!{logs.logSummary}</td>
                    <td>#dateTimeText($!{logs.logCreated},'yyyy-MM-dd HH:mm')</td>
                    <td>#dateTimeText($!{logs.logUpdate},'yyyy-MM-dd HH:mm')</td>
                    <td>
                        <a class="delete">删除</a>
                        <a class="update">编辑</a>
                    </td>
                </tr>
                #end
        </tbody>
    </table>
    </div>
    <div class="fenye" id="fenye">
        <div class="tcdPageCode">
            <a href="javascript:" class="prevPage" id="prevPage"><i class="material-icons">navigate_before</i></a>
            #foreach($i in [1..$listlogs.getTotalPage()])
                #if($i==1)
                    <a href="javascript:" class="tcdNumber current">$i</a>
                #else
                    <a href="javascript:" class="tcdNumber">$i</a>
                #end
            #end
            <a href="javascript:" class="nextPage" id="nextPage"><i class="material-icons">navigate_next</i></a>
        </div>
    </div>
</div>