body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*a{*/
    /*cursor: pointer;*/
/*}*/
/*管理界面样式start*/

/*header 样式 start*/
.navbar-fixed .index-nav {
    height: 120px !important;
}
.navbar-fixed nav{
    background-color: #f4f5ef;
}
.nav-wrapper ul li a{
    color: #00a8c6;
    font-size: 1.5em;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
}
header .container{
    width: 75% !important;
    height: 120px!important;
}
.avatar {
    width: 125px;
    height: 125px;
    float: left;
}
.avatar div {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 5px;
}
.avatar div img {
    width: 100%;
    height: 100%;
}
nav ul li {
    margin-top: 58px;
}
/*header 样式 end*/
/*main 样式 start*/
main .container{
    width:77% !important;
    min-height: 900px;
}
main .container .row{
    width: 100%!important;
    margin-top: 8em!important;
}

.tablepannel{
    width: 80%;
    margin: auto;
}
.ptitlt{
    font-size: 20px;
}
.libiao{
    display: none;
}
.issuedairys{
    display: block;
}
.tablepannel input{
    border: 1px solid #d4cccc!important;
    height: 50px;
}
.tp table td{
    padding: 0px 0px!important;
    /*height: 20px;*/
}
/*main 样式end*/
footer {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    height:50px;
    background-color: #1b1a1a;
    text-align: center;
    font-size: 17px;
    color: ghostwhite;
}
.tcdPageCode{padding: 15px 20px;text-align: center;color: #ccc;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*管理界面样式 end*/

/*后台登录界面样式 start*/

.stitle span{
    color: black;
    font-family: "微软雅黑";
    font-size: 30px;
    padding-left: 30%;
}
.col-lg-8 ul{
    text-align: center;
    margin-top: 3em;
}
.col-lg-8 ul li{
    list-style-type: none;
    line-height: 5em;
}
.col-lg-8 ul li span{
    display: block;
}
.login input{
    width: 600px;
    height: 35px;
}
.login_txtbx{
    padding: 0.85em 0.5em;
    width: 100%;
    background: transparent;
    color: #009688;
    font-size: 1.5em;
    opacity: 50;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    border: 3px solid rgba(66, 61, 59, 0.37);
    border-left-style: none;
    border-right-style: none;
}
#codetext{
    width: 565px;
    float: left;
}
.valpic{
    margin-left: 2em;
    float: right;
}
img {
    margin-bottom: 2em;
}
.noclear{
    top: -6px;
    position: relative;
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 20px;
    color:gray;
    font-family: "华文楷体";
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 20px;
    color: #9b9c96;
    font-family: "华文楷体";
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 20px;
    color: #9b9c96;
    font-family: "华文楷体";
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 20px;
    color: #9b9c96;
    font-family: "华文楷体";
}
.editormd-code-toolbar select {
    display: block!important;
}
/*后台登录界面样式 end*/


/*用户信息界面 start*/
.userinfoedit .container{
    width: 100%;
}
.site-demo-upload {
    position: relative;
    background: #e2e2e2;
}

.site-demo-upload, .site-demo-upload img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
demo-upload img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
img {
    display: inline-block;
    border: none;
}
.layui-btn, .layui-inline, img {
    vertical-align: middle;
}
.site-demo-upload .site-demo-upbar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -44px;
}
.site-demo-upload .layui-upload-button {
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,1);
}
.layui-upload-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    color: #666;
}
form {
    display: block;
    margin-top: 0em;
}

.layui-upload-button input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 100px;
    width: 100%;
    height: 100%;
}
.layui-upload-button input, .layui-upload-file {
    opacity: .01;
    filter: Alpha(opacity=1);
    cursor: pointer;
}
.layui-box, .layui-box * {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
button, input, optgroup, option, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}
.layui-upload-icon {
    display: block;
    margin: 0 15px;
    text-align: center;
}
.layui-box, .layui-box * {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.layui-upload-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    color: #666;
}
.layui-upload-icon i {
    margin-right: 5px;
    vertical-align: top;
    font-size: 20px;
    color: #5FB878;
}
.layui-box, .layui-box * {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.layui-icon {
    font-family: layui-icon!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
user agent stylesheet
i, cite, em, var, address, dfn {
    font-style: italic;
}
Inherited from span.layui-upload-icon
.layui-upload-icon {
    display: block;
    margin: 0 15px;
    text-align: center;
}
Inherited from div.layui-box.layui-upload-button
.site-demo-upload .layui-upload-button {
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,1);
}
.layui-upload-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    color: #666;
}

/*用户信息界面 end*/

/*日志信息管理界面 start*/
.search-group input{
    width: 20%!important;

}
.current{
    color: red!important;
    background-color: #f4f5ef!important;
}
/*日志信息管理界面 end*/